
#canvas {
     width: 800px;
     height: 700px;
     border: 5px solid black;
     top: 50%; 
     left: 50%;
     transform: translate(-50%, -50%);
     position: absolute;
}


.controls select option {

     font-size: 25px;
}