
#canvas {
     width: 600px;
     height: 600px;
     border: 5px solid black;
     box-sizing: border-box;
     top: 50%; 
     left: 50%;
     transform: translate(-50%, -50%);
     position: absolute;
}

.controls {
     position: absolute;
     z-index: 1;
     transform: translate(-50%);
     top: 50px;
     left: 50%;
}

.controls select option {

     font-size: 25px;
}